@model ATeamFitness.Models.PersonalTrainer

@{
    ViewData["Title"] = "Details";
}

<style>
    #map {
        height: 300px; /* The height is 400 pixels */
        width: 400px; /* The width is the width of the web page */
        
        
    }
    .bio{
        width:400px;
        color: black;
        border:solid;
        border-color:black;
        position:relative;
        bottom:97px;  
        left:330px;
        min-height: 320px;
    }
    .TrainerTable{
        color:black;
        font-size:18px;
        width:500px;
        position:relative;
        left: 0%;
        border-color:black;
        border:solid;
        top:340px;
        
    }
    .bioTitle {
        font-size: 20px;
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 5px;
    }
body{
    background-color:white;
    
    }
    .bioContent {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 5px;
    }
.ProfilePic {
        width:320px;
        height:320px;
        position: absolute;
        border:solid;
        border-color:black;
    }
.mapTitle{
    font-size:20px;
    color:black;
    font-weight: bolder;
    margin-left:5px;
    margin-top:10px;
   
}
    .mapDiv {
        border: solid;
        border-color: black;
        position: relative;
        left: 330px;
        bottom: 82px;
        width:406px;
        height:350px;

    }
    .DancingFruit{
        position:relative;
        left:68%;
        bottom:769px;
        height:600px;
        width:500px;
    }
    .TimeBlock{
        border:solid;
        border-color:black;
        position:relative;
        width:320px;
        color:black;
        font-size:20px;
        font-weight:bolder;
        bottom:920px;
        
    }
    .button{
        margin-bottom:10px;

    }
    .workoutText{
        margin:10px;
    }
    .clickMe{
        border:solid;
        border-color:red;
        width:130px;
    }
    .Rating{
        color:black;
    }
</style>
<div>
    <h4 class="text-black-50">PersonalTrainer Profile</h4> 

    
        <img class="ProfilePic" src="@Html.DisplayFor(model => model.ProfilePictureUrl)" />
    

    <table class="TrainerTable" style="width: 317px; height: 52px;">
        <tbody>
            <tr>
                <td style="width: 120px;"><strong>&nbsp;Name:</strong></td>
                <td style="width: 248px;">&nbsp;@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td style="width: 120px;"><strong>&nbsp;Location:</strong></td>
                <td style="width: 248px;">&nbsp;@Html.DisplayFor(model => model.WorkoutLocation)</td>
            </tr>
            <tr>
                <td style="width: 120px;"><strong>&nbsp;Specialization:</strong></td>
                <td style="width: 248px;">&nbsp;@Html.DisplayFor(model => model.Specialization)</td>
            </tr>
        </tbody>
    </table>

    <div class="bio">
        <p class="bioTitle">Bio</p>
        <p class="bioContent">@Html.DisplayFor(model => model.Bio)</p>
    </div>
</div>


<html>
<body>
    <!--The div element for the map -->
    <div class="mapDiv">
        <div id="map"></div>
        <label id="map" class="mapTitle">Workout Location</label>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var uluru = { lat: @Html.DisplayFor(model => model.Lat), lng: @Html.DisplayFor(model => model.Long) };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 18, center: uluru });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: uluru, map: map });
            }
        </script>
    </div>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY2M6mX6aQTo1WAsicnNWH4CR_SQFspww&callback=initMap">
    </script>
</body>
</html>

<img class="DancingFruit" src="https://media.giphy.com/media/fq76nclWQLf6R165re/giphy.gif" />

<div class="TimeBlock">
    <center><p class="workoutText">Click Here To Schedule A Workout With Me!</p></center>
    <center><a asp-area="" asp-controller="Customers" asp-action="ViewTimeBlocks"><p class="clickMe">Click Me!</p></a></center>

    <center>
        <div>
            <p>&nbsp;</p>
            <table style="height: 71px; width: 96px;">
                <tbody>
                    <tr style="height: 44px;">
                        <td class="Rating" style="width: 56px; height: 44px;">@Html.DisplayFor(model => model.ThumbsDown)</td>
                        <td class="Rating" style="width: 55px; height: 44px;">@Html.DisplayFor(model => model.ThumbsUp)</td>
                    </tr>
                    <tr style="height: 10.5px;">
                        <td style="width: 56px; height: 10.5px;"><a asp-action="ThumbsDown" asp-route-id="@Model.PersonalTrainerId"><img src="http://clipart-library.com/newhp/clipart-thumbs-down-thumb-signal-11562939569knc6bhoc48.png" alt="clipart thumbs down - thumb signal PNG image with transparent " width="56" height="57" /></a></td>
                        <td style="width: 55px; height: 10.5px;"><a asp-action="ThumbsUp" asp-route-id="@Model.PersonalTrainerId"><img src="http://clipart-library.com/newimages/thumbs-up-clipart-2-14.jpg" alt="Symbol thumbs up clip art" width="55" height="55" /></a></td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>           
        </div>
    </center>
</div>