@model IEnumerable<ATeamFitness.Models.DietPlan>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DietType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOptionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOptionC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DietType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FitnessGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodOptionA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodOptionB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodOptionC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
